html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
}

body {
  background: #dadee5;
  max-width: 38rem;
  margin: auto;
  padding: 0 2rem;
  display: flex; 
  flex-direction: column;
  height: 100vh;
}

article {
  margin: 6rem 0;
  max-width: 70rem;
}

p, h1 {
  font-weight: 500;
  font-size: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #313133;
  margin-bottom: 1rem;
}

p, h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #313133;
  line-height: 1.5;
  text-align: center;
}

header {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  min-height: 6rem;
  margin-top: auto;
}

#logo {
  width: 14rem;
}

footer p, a {
  color: #929499;
  font-size: 0.8rem;
  text-decoration: none;
}

@media only screen and (max-width : 600px) {
	body {
		font-size: .75em;
	}
}
